<config>
	<home></home>
	<scriptsdir>C:\sf\chuck\scripts</scriptsdir>
	<resourcesdir>C:\sf\chuck\scripts</resourcesdir>
	<usersdir>C:\team_work\users</usersdir>
	<workdir>C:\team_work</workdir>
	<scripts>
		<organization>
			<name>MyOrg</name>
			<title>My Organization</title>
			<standard>
				<name>Note</name>
				<title>Note Encoding Specification</title>
				<version>
					<name>1.0</name>
					<suite>
						<namespace-uri>urn://notetest</namespace-uri>
						<prefix>note</prefix>
						<local-name>suite</local-name>
						<title>Note 1.0 Test Suite</title>
						<description>Validates that a note encoded to the Note 1.0 standard is compliant.</description>
					</suite>
					<revision>
						<name>A</name>
						<sources>
							<source>note2.ctl</source>
							<source>suite.ctl</source>
						</sources>
					</revision>
				</version>
			</standard>
		</organization>
		<organization>
			<name>NGC</name>
			<title>Northrop Grumman</title>
			<standard>
				<name>WMS Client</name>
				<title>WMS Client</title>
				<version>
					<name>1.0</name>
					<suite>
						<namespace-uri>urn:wms_client_test_suite</namespace-uri>
						<prefix>wms_c</prefix>
						<local-name>suite</local-name>
						<title>Example Client Test Suite</title>
						<description>Validates Client Requests.</description>
					</suite>
					<revision>
						<name>A</name>
						<sources>
							<source>wms_c/ctl</source>
						</sources>
					</revision>
				</version>
			</standard>
		</organization>
	</scripts>
</config>
